<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libbrhscgui" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
</packages>